/* Navbar styles */
.navbar {
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-link {
    display: inline-block;
    margin-right: 10px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    padding: 8px 16px;
    background-color: #af4c84;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: scaleIn 0.5s ease;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.btn:hover {
    background-color: #45a049;
}